/* GENERAL */
:root {
  --background-color: #222831;
  --main-color: #393e46;
  --secondary-color: #eeeeee;
  --special-effect: #00adb5;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.page-container {
  background-color: var(--background-color);
}

/* NAV */
.nav {
  width: 100%;
  background-color: var(--main-color);
  color: var(--secondary-color);
  padding: 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav > h1,
.nav > h2 {
  margin: 0 auto;
}

.nav > a {
  color: var(--secondary-color);
  text-decoration: none;
  font-size: 30px;
}

.nav a:hover {
  color: var(--special-effect);
}

/* BUTTONS */
.button {
  background-color: var(--main-color);
  text-decoration: none;
  color: var(--secondary-color);

  font-size: 16px;
  font-weight: bold;

  margin: auto 20px auto 20px;
  padding: 20px 50px;

  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.button:hover {
  color: var(--special-effect);
  border: 1px solid var(--special-effect);
}

/* RESPONSIVE */
@media (max-width: 1000px) {
  .nav > a {
    font-size: 25px;
  }
}
