/* GENERAL */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  overflow: hidden;
}

/* TITLE */
h1 {
  width: 100%;
  background-color: antiquewhite;
  text-align: center;
  padding: 40px;
}
