/* GENERAL */
body {
  overflow: hidden;
}

.page-container {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* GAME START */
.start-game {
  margin-top: 200px;
}

/* ICONS CONTAINER */
.icons-container {
  width: 100%;

  display: flex;
  justify-content: space-between;
}

.icons-container > i {
  font-size: 300px;
}

.rock,
.scissors {
  rotate: 45deg;
}
