/* GENERAL */
body {
  overflow: hidden;
}

.page-container {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* ICONS CONTAINER */
.icons-container {
  width: 100%;

  display: flex;
  justify-content: space-between;
  color: var(--secondary-color);
}

.icons-container > i {
  font-size: 300px;
}

.rock,
.scissors {
  rotate: 45deg;
}

/* RESPONSIVE */
@media (max-width: 1000px) {
  .icons-container > i {
    font-size: 100px;
  }
}
